language: php

sudo: false

php:
    - 7.0

matrix:
    fast_finish: true
    include:
        - php: 7.0
          env: COMPOSER_FLAGS="--prefer-lowest"

before_install:
    - phpenv config-rm xdebug.ini || true
    - composer self-update

install:
    - composer update --optimize-autoloader --no-interaction --ignore-platform-reqs ${COMPOSER_FLAGS}

script:
    - make tests
    - make rusty
